/* header{
    color: red;
} */

/* button a {
    background-color: red;
} */

body{
    font-family: 'Lemon', serif;
    font-size: 10px;
}


.header h1{
    font-size: 40px;
}

.container{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.header{
    margin-right: 100px;
}

.Explore{
    color: red;
}

.SoftwareDevPartTime{
    color: red;
}

.SubmitApplication{
    background-color: rgba(254, 52, 72, 1);
    border-color: rgba(254, 52, 72, 1);
    color: #ffffff;
    border-radius: 5px;
    min-width: 100%;

}

table{
    border-collapse: collapse;
    width: 400px;

}

th, td{
    border: 2px solid red;
    text-align: left;
    padding: 10px;
}

th{
    background-color:#F18F01;
}

.Box{
    width: 200px;
    height: 100px;
    padding: 50px;
    border: 2px solid red;
    margin: 100px;

}

.flexbox{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.column{
    flex: 1;
    padding: 20px;
    background-color: #ff99c8;
    box-sizing: border-box;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin: 0;
    padding: 0;
}

.grid1{
   
    padding: 20px;
    background-color: #ff99c8;
    box-sizing: border-box;
}