/* header{
    color: red;
} */

/* button a {
    background-color: red;
} */

.header h1{
    font-size: 40px;
}

.container{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

.header{
    margin-right: 100px;
}

.Explore{
    color: red;
}

.SoftwareDevPartTime{
    color: red;
}

.SubmitApplication{
    background-color: rgba(254, 52, 72, 1);
    border-color: rgba(254, 52, 72, 1);
    color: #ffffff;
    border-radius: 5px;
    min-width: 100%;

}

table{
    border-collapse: collapse;
    width: 400px;

}

th, td{
    border: 2px solid red;
    text-align: left;
    padding: 10px;
}

th{
    background-color:#F18F01;
}